[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
openai = "*"
flask = "*"
install = "*"
python-dotenv = "*"
flask-cors = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.12"
